:root {
  --primary: #FF6F49;
  --bg: #020312;
  --bg-alt: #0A0C18;
  --text: #F2F2F2;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

.project img {
  width: 100%;
  max-width: 400px;   /* controla o tamanho máximo */
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.project img:hover {
  transform: scale(1.05); /* efeito de zoom suave */
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-alt);
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--primary);
}

/* Botões */
.btn-primary, .btn-secondary {
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
  border: none;
}

.btn-primary:hover {
  background: var(--white);
  color: var(--primary);
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--white);
}

a {
  text-decoration: none;
}


/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #111, #333);
}

.profile-pic {
  width: 180px;   /* tamanho padrão para celulares */
  height: 180px;
  border-radius: 50%;
  border: 4px solid var(--primary);
  margin-bottom: 20px;
}

/* Em tablets e desktops, aumenta o tamanho */
@media (min-width: 768px) {
  .profile-pic {
    width: 300px;
    height: 300px;
  }
}


.headline {
  font-size: 1.2em;
  font-weight: bold;
}

.subheadline {
  margin-top: 10px;
  font-size: 1em;
  color: #ccc;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Sections */
.section {
  padding: 80px 20px;
  text-align: center;
}

.cards, .gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card, .project {
  background: var(--bg-alt);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover, .project:hover {
  transform: translateY(-5px);
}

/* Contact */
.contact-info {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.contact-info li {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* Footer */
.footer {
  background: var(--bg-alt);
  text-align: center